.section{
  background-color: var(--cor-azul-escuro);
  height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  background-color: var(--cor-bege-escuro);
  border-radius: 5px;
  width: 700px;
  height: 600px;
}

.wrraperbutons{
  width: 100%;
  display: flex;
  height: 80px;
}

.button:nth-child(1){
  border-right: 1px solid black;
}

.button{
  height: 80px;
  width: 50%;
  background-color: var(--cor-bege-escuro);
  border: none;
  transition: all .4s ease;
  font-size: 1.125rem;
  font-weight: bold;
}

.disabledbutton{
  cursor: pointer;
  background-color: var(--cor-bege-claro);
  font-size: .85rem;
  font-weight: normal;
  border-bottom: 1px solid black;
}

.disabledbutton:hover{
  font-size: 1.1rem;
}

.formWrapper{
  height: calc(100% - 90px);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fetchError{
  margin-top: 15px;
  color: red;
  font-size: 1rem;
}