.customerSection{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--paleta2-cor1);
  color: white;
}

/* StepWrapper */
.stepWrapper{
  width: 800px;
  border-radius: 10px;
  height: 700px;
  background-color: var(--paleta2-cor2);
}

/* Login */

.customerLoginWrapper h6 {
  font-size: 3rem;
  height: 20%;
}

.customerLoginWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customerLoginWrapper input{
  padding: 20px;
  border: none;
  border-radius: 5px;
}

.customerLoginWrapper form{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customerLoginWrapper button{
  width: 25%;
}

.fetchError{
  font-size: 1.5rem !important;
  margin-top: 50px;
  color: tomato;
}

/* Services */

.servicesWrapper{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-y: auto;
  flex-direction: column;
}

.servicesWrapper button {
  position: absolute;
  left: 0;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s all ease-in-out;
  outline: none;
  background-color: var(--paleta3-cor2);
  color: white;
}

.servicesWrapper button:hover{
  background-color: cornsilk;
  color: black;
  transform: scale(1.1);
  
}

.servicesWrapper h3{
  height: 15%;
  font-size: 2rem;
  margin-top: 25px;
}
.servicesDivs{
  height: 85%;
  width: 100%;
  display: flex;
  padding: 20px;
  gap: 2rem;
  justify-content: center;
  flex-wrap:wrap;
}

.serviceCard{
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  background-color: var(--paleta3-cor2);
  padding: 20px;
  border-radius: 20px;
  transition: .4s all ease-in-out;
}

.selectedService{
  transform: scale(1.05);
  background-color:cornsilk;
  color: black;
}

/* Workers */

.customerWorkersWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.customerWorkersWrapper button {
  position: absolute;
  left: 0;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s all ease-in-out;
  outline: none;
  background-color: var(--paleta3-cor2);
  color: white;
}


.customerWorkersWrapper button:hover{
  background-color: cornsilk;
  color: black;
  transform: scale(1.1);
  
}

.customerWorkersWrapper h3{
  height: 15%;
  font-size: 2rem;
  margin-top: 25px;
}

.workerCard{
  width: 125px;
  height: 125px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  cursor: not-allowed;
  background-color: #cccccc;
  color: black;
  transform: scale(.8);
  transition: all .3s ease;
  box-shadow: 2px 2px 5px 0 black;
}

.selectedWorker{
  transform: scale(1.05);
  box-shadow: 5px 5px 5px 0 black;
  color: black;

}

.hasService{
  background-color: var(--paleta3-cor2);
  color: white;
  cursor: pointer;
}

/* Schedule */

.scheduleWrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.scheduleDates{
  height: auto;
  overflow-y: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: .5rem;
  margin-top: 15px;
}

.timeCard{
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color:var(--paleta3-cor2);
  color: white;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-weight: bold;
  box-shadow: 5px 5px 3px 0 black;
}

.allowedTime:hover, .selectedTime{
  transform: scale(1.1);
}

.selectedTime{
  background-color: chartreuse;
  color: black;
}

.notAllowedTime{
  transform: scale(.95);
  background-color: red;
  cursor: not-allowed;
}

/* Loading */

.loadingP{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(218, 223, 225, .15);
  width: 100%;
  height: 100vh;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 25;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-size: 3rem;
}

.loadingP p{
  background-color: rgba(218, 223, 225, .3);
  padding: 20px;
  border-radius: 15px;
}

.loadingWrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 750px;
}

.loadingCalendarEarsWrapper{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
}

.loadingCalendarEarsWrapper div{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  width: 15%;
  height: 100%;
  background-color: var(--paleta2-cor2);
}

.loadingCalendarEarsWrapper div div{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: loadingCalendarDivAnimation infinite 3s ease-in-out alternate;
}

.loadingCalendar{
  height: 90%;
  width: 100%;
  border-radius: 15px;
  background-color: var(--paleta2-cor2);
  display:flex; 
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 2rem;
  flex-wrap: wrap;
}

.loadingCalendar div{
  width: 50px;
  height: 50px;
  animation: loadingCalendarDivAnimation infinite 3s ease-in-out alternate;
  border-radius: 5px;
}

@keyframes loadingCalendarDivAnimation {
  0%{
    background-color: gray;
  }
  50%{
    background-color: lightgray;
  }
  100%{
    background-color: gray;
  }
}