.agendamentosSection{
color: white;
  height: calc(100vh - 80px);
  background-color: var(--paleta3-cor2);
  display: flex;
  justify-content: center;
  width: 100%;  
}

.h3Title{
  font-size: 2rem;
}

/* Horários */


.agendamentosSection form{
  margin-top: 50px;
  background: var(--paleta3-cor1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  border-radius: 5px;
}

.agendamentosSection form button{
  margin-top: 20px;
  width: 200px;
}

.days{
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.days div{
  width: 120px;
  height: 100px;
  border-radius: 5px;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  width: 130px;
  height: 130px;
  cursor: pointer;
  transition: .4s all ease-in-out;
  border-radius: 5px;
}

.addedDay{
  transform: scale(.95);
  background-color: var(--cor-clay-5);
  font-weight: bold;
  font-weight: 1.125rem;
  border: 1px solid darkgreen;
  box-shadow: 8px 8px 10px 0 black;
}

.notAddedDay{
  border: 1px solid rgb(24, 23, 23);
  box-shadow: 5px 5px 5px 0 black;
  font-size: .85rem;
  transform: scale(.8);
  background-color: var(--paleta3-cor2);
}

.agendaTimeSet{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.inputDiv{
  padding: 0 10px;
  border-radius: 5px;
  background-color: var(--cor-clay-5);
  box-shadow: 4px 5px 10px black;
  display: flex;
  gap: 2rem;
  justify-content: center;
  width: 100%;
  height: 120px;
}

.inputDiv div{
  width: 100%;
}

.inputDiv div label{
  text-align: center;
  display: flex;
  align-items: center;
  height: 50%;
}

.input label{
  height: 50%;
  height: 50px;
}


.agendaTimeSet input{
  border-radius: 5px;
  border: none;
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  font-weight: bold;
  font-size: 1.5rem;
}
