.servicesSection{
  
  height: calc(100vh - 80px);
  width: 100%;
  background-color: var(--paleta3-cor2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.switchServ{
  height: 100px;
  width: 400px;
  border-radius: 5px;
  position: fixed;
  top: 90px;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 15px;
}


.switchServ button{
  box-shadow: 5px 5px 5px 0 black;
  width: 45%;
  cursor: pointer;
  transition: .5s ease all;
  border: none;
  color: white;
  background: var(--paleta3-cor1);
  border-radius: 5px;
  height: 80%;
  font-size: 1.25rem;
}

.disabledButton{
  transform: scale(0.8);
  background: var(--paleta3-cor2);
}

.disabledButton:hover{
  transform: scale(0.85);
}

.serviceForm{
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  background-color: var(--cor-clay-5);
  border: 1px solid black;
  padding: 20px 50px;
}

.serviceForm input{
  border: 1px solid black;
  border-radius: 5px;
  width: 120%;
}

.divServicesCard{
  overflow-x: hidden;
  height: 500px;
  width: 50vw;
  box-sizing: content-box;
  border-radius: 15px;
  padding: 50px;
  background-color: var(--paleta3-cor1);
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.serviceCard{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  font-size: 1.5rem;
  height: 40%;
  background-color: var(--cor-clay-5);
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.serviceCardActions{
  width: 30%;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180%;
}


.serviceCardActions button{
  width: 50%;
  font-size: 1rem;
  cursor: pointer;
  transition: .5s ease all;
  box-shadow: 3px 3px 5px 0 black;
  border: none;
  border-radius: 5px;
  height: 100px;
}

.serviceCardActions button:hover{
  transform: scale(1.05);
}


/* Edit services */

.editServ{
  overflow-x: hidden;
  height: 500px;
  width: 50vw;
  box-sizing: content-box;
  border-radius: 15px;
  padding: 50px;
  background-color: var(--paleta3-cor1);
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.editServ form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.editServ form label{
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

.editServ form input{
  font-weight: bold;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
}

.editServ select{
  width: 350px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}