/* Fonte Padrão */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,800;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --cor-preta: #050505;
  --cor-azul: #1B9AAA;
  --cor-azul2:rgba(128, 178, 200, 1);
  --cor-azul-escuro: rgba(120, 154, 170, 1);
  --cor-azul-escuro2: rgba(85, 119, 135, 1);
  --cor-bege-escuro: #DDDBCB;
  --cor-bege-claro: #F5F1E3;
  --cor-branca: #FFFFFF;
  --cor-clay-1: rgb(165,159,140);
  --cor-clay-2: rgb(191,157,133);
  --cor-clay-3: rgb(135,133,131);
  --cor-clay-4: rgb(140,178,201);
  --cor-clay-5: rgb(122,139,176);
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto Mono', monospace;
}