.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--paleta3-cor1);
    color: var(--cor-branca);
    z-index: 999;
  }
  
  h2{
    font-weight: bold;
    font-size: 2rem;
    cursor:default;
    position: relative;
    display: flex;
  }

  .infoNamesNav{
    display: flex;
    gap: 1rem;
  }


  .pUsername{
    border: 1px solid black;
    padding: 10px 20px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--paleta3-cor2);
    box-shadow: 5px 5px 5px 0 black;
  }
  
  h2:hover::before{
    content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      border-bottom: solid 2px #fff;
      animation: border_anim 3s linear forwards;
  }
  
  @keyframes border_anim {
      0%{
          width: 0%;
      }
      100%{
          width: 100%;
      }
  }
  
  .navBar .navA{
    margin: 0 .5rem;
    color: var(--cor-branca);
    padding: 4px;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 2px;
    transition: .3s all ease;
  }
  
  .navBar .navA:hover, .activedLink{
    color: var(--cor-preta) !important;
    background-color: var(--cor-bege-escuro);
  }
  
  .navBar .navBtn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--cor-branca);
    display: none;
    font-size: 1.8rem;
  }
  
  .links button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 30px;
    font-size: 1rem;
  }
  
  @media only screen and (max-width: 1024px){
    .navBar .navBtn{
      display: block;
    }
    .navBar .navDiv{
      z-index: 99;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      background-color: var(--cor-azul-escuro2);
      transition: .5s;
      transform: translateY(-100vh);
    }
    .navBar .responsive_nav{
      transform: none;
    }
  
    .navDiv .navCloseBtn{
      position: absolute;
      top: 2%;
      right: 5%;
    }
  
    .navDiv .navA{
      font-size: 1.5rem;
    }
  
    .links{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1.5rem;
    }
    .links button{
    margin: 0;
    }
  }