.workersInfoSection{
  width: 100%;
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  display: flex;
}

.workersInfoBar, .workersInfoBar canvas{
  padding: 20px;
  border-radius: 5px;
  width: 1000px;
  height: 510px;
  background-color: var(--paleta3-cor1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.workersInfoBar canvas{
  display: none;
}

.pieChartDiv{
  display: none;
}

.workersInfoBar canvas{
  width: 100% !important;
  height: 100% !important;
}

@media (max-width:1200px){
  .workersInfoBar{
    width: 800px;
    height: 400px;
  }
}

@media (max-width:1000px){
  .workersInfoBar{
    width: 600px;
    height: 300px;
  }
}

@media (max-width:800px){
  .workersInfoBar{
    width: 400px;
    height: 250px;
  }
}

@media (max-width:550px){
  .workersInfoBar{
    background-color: transparent;
  }
  .barChartDiv{
    display: none;
  }
  .pieChartDiv{
    display: block;
  }
}